@model VehicleInsuranceApplication.Models.VehicleCategory

@{
    ViewData["Title"] = "Edit Vehicle Category";
    Layout = "Admin_layout";
}
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center">

<h2>Edit Vehicle Category</h2>

<form asp-action="EditVehicleCategory" method="post">
<input type="hidden" asp-for="Id" />

<div class="form-group">
  <label asp-for="Name">Category Name</label>
  <input asp-for="Name" class="form-control" required />
</div>
  <button type="submit" class="btn btn-success">Save Changes</button>
  <a asp-action="VehicleCategories" class="btn btn-secondary">Cancel</a>
  </form>

        </div>
    </div>
</div>